// colors
$dark-text-color: #131313;
$light-text-color: #f3f3f3;
$dark-background-color: #0d1117;
$light-background-color: #ffffff;
$dark-extra-background-color: #161f2c;
$light-extra-background-color: #b7b7b7;

// width
$desktop-width: 1240px;
$tablet-width: 780px;

// paddings
$desktop-padding: 10px;
$tablet-padding: 20px;
$mobile-padding: 10px;
